.about{
    padding: 64px 0;
}
.about .one-content{
    margin-top: 30px;
}
.one-content dt{
    margin-bottom:20px ;
}
.one-content dd{
    font-size: 16px;
    font-family: 'Raleway-Regular';
    color: #999;
    line-height: 1.4em;
    margin: 3% auto;
    width: 85%;
}
.two-content{
    margin-top: 40px;
}
.two-content .row div{
    margin-bottom: 10px;
}
.two-content h4{
    font-size: 18px;
    margin: 20px 0 0 0;
    color: #3d1a1b;
    font-weight: bold;
}
.two-content p{
    font-size: 15px;
    font-family: 'Raleway-Regular';
    color: #999;
    line-height: 1.2em;
    margin-top: 2%;
}
@media (max-width: 768px){
    .one-content dd{
        width: 100%;
        font-size: 14px;
    }
    .two-content h4{
        font-size: 16px;
    }
    .two-content p {
        font-size: 12px;
    }
}
@media (max-width: 320px){
    .one-content dd{
        margin:8% 0;
        width: 100%;
        font-size: 12px;
    }
    .two-content p {
        font-size: 12px;
    }
    .two-content h4{
        font-size: 14px;
    }
}
